<?php
/**
 * @var $block \WdevsCustomBar\NotifyCustomer\Block\Frontend\Notify
 */
?>
<div class="message global demo">
    <div class="content">
        <p><?= $block->NotifyCustomer(); ?></p>
    </div>
</div>
